@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
:root{
    /* geral */
    --color-black: hsl(0, 0%, 0%);
    /* main */
    --body-color-white-footer: hsla(0, 0%, 77%, 0.232);
    /* brand */
    --background-color-brand-hover: hsl(0, 0%, 74%);
    /* active */
    --background-color-active: hsla(0, 0%, 0%, 0.106);
    --background-color-active-hover: hsla(0, 0%, 0%, 0.275);
    --color-active: hsl(0, 0%, 0%);
}

/* Deixando ::-webkit-scrollbar para ser uma ladding page na home */
::-webkit-scrollbar { 
    overflow-y:hidden;
    overflow-x:hidden;
    width: 0;
 }

.footer{
    padding: .6em 2em;
    background-color: var(--body-color-white-footer);
} 

.navbar_footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.navbar_footer li{
    text-decoration: none;
    outline: none;
    list-style: none;
    color: var(--color-black);
    font-family: 'Tilt Warp', sans-serif;
    margin-right: 10px;
}

.navbar_footer li a{
    font-size: 1em;
    padding: 1em;
    color:  var(--color-black);
}

.active{
    background-color: var(--background-color-active);
    color: var(--color-active);
    border-radius: 10px;
}

.active:hover{
    background-color: var(--background-color-active-hover);
}


.brand_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
}

.brand_footer p{
    font-size: 1em;
    font-weight: none;
}

.brand_footer span{
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-black);
    font-family: 'Tilt Warp', sans-serif;
}

/* media queires */
@media (max-width: 477px){
    .navbar_footer li a{
        font-size: .8em;
        padding: .8em;
    }

    .brand_footer p{
        font-size: .9em;
        font-weight: none;
    }

    .brand_footer span{
        font-size: .9em;
    }
}

@media (max-width: 428px){
    .brand_footer p{
        font-size: .7em;
        font-weight: none;
    }

    .brand_footer span{
        font-size: 1em;
    }

    .navbar_footer li a{
        font-size: .7em;
        padding: 1em;
        color:  var(--color-black);
    }
}

@media (max-width: 395px){
    .navbar_footer li a{
        font-size: .7em;
        padding: .6em;
        color:  var(--color-black);
    }
}