:root{
  /* geral */
  --color-white: #fff;
  --body-color-white: #f6fcff;
  /* container */
  --color-container-error: #721c24;
  --background-color-container-error: #f8d7da;
  --background-color-border-container-error: #f5c6cb;
  /* botões */
  --btn-background-green-color: #1a8918;
  --btn-background-green-color-hover: #0f730c;
  --btn-background-dark-color-hover: #000;
  --btn-background-danger-color-hover: #dc3545;
  --btn-color-desabled: #aaa;
  /* mobile */
  --color-mobile-li-a: #f1f1f1;
}

body{
  background-color: var(--body-color-white);
  padding: 0;
  margin: 0;
  font-family: "Monstserrat", sans-serif;
}

a,
nav button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: var(--btn-background-dark-color);
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}


.btn{
  background-color: var(--btn-background-green-color);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn.btn-dark{
  background-color: var(--btn-background-dark-color);;
  border-radius: 0;
}

.btn.btn-outline{
  background-color: transparent;
  border-radius: 0;
  color: var(--btn-background-dark-color);;
  border: 1px solid var(--btn-background-dark-color);;
  padding: 7px 30px;
}

.btn:hover{
  background-color: var(--btn-background-green-color-hover);
  color: var(--color-white);
}

.btn.btn-outline:hover{
  background-color: var(--btn-background-dark-color);;
}

.btn.btn-danger:hover{
  background-color: var(--btn-background-danger-color-hover);
}

button[disabled]{
  background-color: var(--btn-color-desabled);
}

.container .error{
  color: var(--color-container-error);
  background-color: var(--background-color-container-error);
  border: 1px solid var(--background-color-border-container-error);
  padding: 5px;
  border-radius: 5px;
}


/* mobile */
.moblie_menu_icon{
  display: none;
}

.nav_list_mobile{
  display: none;
}

.link_list_mobile{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.link_list_mobile li{
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 7.5em;
  align-items: center;
  justify-content: center;
}

.link_list_mobile li a{
  font-size: 18px;
  padding: .6em 2.5em;
  color: var(--color-mobile-li-a);
}

.open{
  display: block;
}


/* querrie */
@media (max-width: 615px){
  .moblie_menu_icon{
      display: block;
  }

  .nav_list_mobile .link_list_mobile{
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
  }

  .link_list_mobile li{
    align-items: center;
    justify-content: center;
  }
}